.fullDatepicker {
    width: 100%;
    margin: 0 0 60px 0;
    border-bottom: 1px solid #E6E9EC;
    display: flex;
    flex-direction: column;
}

.fullDatepicker .title {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #02044A;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
}

.fullDatepicker .title span {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.fullDatepicker .title span::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E8543E;
    position: absolute;
    left: 0;
}

.calendar-header {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.calendar-header table {
    width: 100%
}

.calendar-header table th {
    font-size: 22px;
    padding: 15px 10px;
    cursor: pointer
}

.calendar-header table th:hover {
    background: #eee
}

.calendar-header table th.disabled,
.calendar-header table th.disabled:hover {
    background: 0 0;
    cursor: default;
    color: #fff;
    visibility: hidden;
}

.calendar-header table th.next,
.calendar-header table th.prev {
    width: 20px
}

.calendar-header .year-title {
    font-weight: 700;
    text-align: center;
    height: 20px;
    width: auto
}

.calendar-header .year-neighbor {
    opacity: .4
}

.calendar-header .year-neighbor2 {
    opacity: .2;
}

@media screen and (max-width: 991px) {
    .calendar-header .year-neighbor {
        display: none
    }

    .calendar-header .year-neighbor2 {
        visibility: hidden;
    }
}

@media screen and (max-width: 767px) {
    .calendar-header .year-neighbor2 {
        display: none
    }
}