/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/index/treestep/treestep.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
 .treestep_threeSteps__2Ndqq {
     width: 100%;
     padding: 105px 0 120px 0;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd {
     width: 100%;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li {
     width: 33.33%;
     padding: 0 60px;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_iconBox__oypqW {
     width: 100%;
     margin: 0 0 20px 0;
     display: flex;
     justify-content: center;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_iconBox__oypqW i {
     width: 100px;
     height: 100px;
     background: #EDF2FE;
     border-radius: 45px;
     display: block;
     background-position: center;
     background-repeat: no-repeat;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_title__wZPju {
     width: 100%;
     font-weight: 600;
     font-size: 20px;
     line-height: 28px;
     text-align: center;
     color: #02044A;
     margin: 0 0 10px 0;
 }

 .treestep_container__u_Mpt {
     width: 1600px;
     margin: 0 auto;
 }

 .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_desc__7ntDj {
     width: 100%;
     font-size: 15px;
     line-height: 26px;
     text-align: center;
     color: #525265;
 }

 .treestep_titleBox__da4VL {
     width: 100%;
     margin: 0 0 60px 0;
 }

 .treestep_titleBox__da4VL .treestep_title__wZPju {
     width: 100%;
     color: #02044A;
     font-weight: 600;
     font-size: 40px;
     line-height: 55px;
     text-align: center;
 }

 .treestep_titleBox__da4VL .treestep_subTitle__wrg6c {
     width: 100%;
     margin: 10px 0 0 0;
     color: #525265;
     font-size: 15px;
     line-height: 26px;
     text-align: center;
 }

 @media screen and (max-width: 1699px) {
     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li {
         padding: 0 30px;
     }

     .treestep_container__u_Mpt {
         width: 1400px;
     }
 }

 @media screen and (max-width: 1499px) {
     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li {
         padding: 0 15px;
     }

     .treestep_container__u_Mpt {
         width: 1170px;
     }

 }

 @media screen and (max-width: 1199px) {
     .treestep_threeSteps__2Ndqq {
         padding: 45px 0;
         display: none;
     }

     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_title__wZPju {
         font-size: 16px;
         line-height: 24px;
     }

     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li .treestep_desc__7ntDj {
         font-size: 13px;
         line-height: 22px;
     }

     .treestep_container__u_Mpt {
         width: 100%;
         padding: 0 15px;
     }

     .treestep_titleBox__da4VL {
         margin: 0 0 45px 0;
     }
 }

 @media screen and (max-width: 991px) {
     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul {
         flex-direction: column;
     }

     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li {
         width: 100%;
         padding: 0;
         margin: 0 0 30px 0;
     }

     .treestep_threeSteps__2Ndqq .treestep_box__E5Nkd ul li:last-child {
         margin: 0;
     }
 }

 @media screen and (max-width: 767px) {
     .treestep_titleBox__da4VL {
         margin: 0 0 30px 0;
     }

     .treestep_titleBox__da4VL .treestep_title__wZPju {
         font-size: 32px;
         line-height: 42px;
     }
 }
