/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/breadCrumb/breadCrumb.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.breadCrumb_breadCrumb__rIC2U {
    width: 100%;
    height: 80px;
    background-color: #F9F9FB;
    display: flex;
    align-items: center;
}

.breadCrumb_container__RdqF_ {
    width: 1600px;
    margin: 0 auto;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp {
    display: flex;
    justify-content: space-between;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H {
    display: flex;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS::before {
    content: "/";
    padding: 0 10px 0 10px;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS:first-child::before {
    display: none;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS:last-child a {
    color: #02044A;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS a {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #525265;
    transition: color .3s ease-in-out;
    position: relative;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS a:hover {
    color: #02044A;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E {
    display: flex;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ {
    margin: 0 30px 0 0;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_:last-child {
    margin: 0;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a {
    display: flex;
    padding: 0 0 0 35px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #525265;
    transition: color .3s ease-in-out;
    position: relative;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a::before {
    display: flex;
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    transition: all 0.2s ease-in-out;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a:hover {
    color: #02044A;
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a:hover.breadCrumb_share__fAmJV::before {
    transform: rotate(90deg);
}

.breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a.breadCrumb_share__fAmJV::before {
    background-image: url(/images/share-icon.png);
}

@media screen and (max-width: 1699px) {
    .breadCrumb_container__RdqF_ {
        width: 1400px;
    }
}

@media screen and (max-width: 1499px) {
    .breadCrumb_container__RdqF_ {
        width: 1170px;
    }
}

@media screen and (max-width: 1199px) {
    .breadCrumb_container__RdqF_ {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp {
        flex-direction: column;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H {
        width: 100%;
        margin: 0 0 15px 0;
        justify-content: center;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS::before {
        padding: 0 2.5px;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp ul.breadCrumb_breadCrumbList__Cvn1H li.breadCrumb_breadCrumbItem__oTJfS a {
        font-size: 12px;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E {
        width: 100%;
        justify-content: center;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ {
        margin: 0 5px;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_:last-child {
        margin: 0 5px;
    }

    .breadCrumb_breadCrumb__rIC2U .breadCrumb_breadCrumbBox__XGClp .breadCrumb_shareBox__Ii26E .breadCrumb_shareItem__UKTh_ a {
        font-size: 12px;
    }
}
