/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/footer/top/footerTop.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.footerTop_top__MhpnB {
    width: 100%;
}

.footerTop_container__G_Bp3 {
    width: 1600px;
    margin: 0 auto;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w {
    width: 100%;
    padding: 100px 0 50px;
    display: flex;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 {
    width: 50%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerLogo__mYeG9 {
    width: 100%;
    margin: 0 0 30px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon {
    width: 100%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li {
    width: 50%;
    margin: 0 0 30px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li .footerTop_footerTitle__oGSBq {
    width: 100%;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li .footerTop_footerDecs__ZOAS7 {
    width: 250px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li .footerTop_footerDecs__ZOAS7 a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f {
    width: 100%;
    margin: 0 0 30px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f .footerTop_socialText__vtmVh {
    width: 100%;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul {
    display: flex;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li {
    display: flex;
    margin: 0 15px 0 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li:last-child {
    margin: 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a:hover {
    background-color: #1DBAA2;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_facebook__OAIu4 i {
    background-image: url("/images/facebook.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_twitter__Ndo2U i {
    background-image: url("/images/twitter.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_instagram__w9XMy i {
    background-image: url("/images/instagram.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_linkedin__gI_kM i {
    background-image: url("/images/linkedin.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_youtube__ra4tm i {
    background-image: url("/images/youtube.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a.footerTop_google__9qm7W i {
    background-image: url("/images/google.png");
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f ul li a i {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_tursabBox__YrMaY {
    width: 100%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_tursabBox__YrMaY img {
    margin: 0 20px 0 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t {
    width: 50%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC {
    width: 100%;
    margin: 0 0 40px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_formTitle___UT6v {
    width: 100%;
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 {
    width: 100%;
    position: relative;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 .footerTop_inputText__F8L0U {
    width: 100%;
    height: 70px;
    border-radius: 8px;
    font-size: 14px;
    color: #525265;
    padding: 0 90px 0 20px;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 .footerTop_bulletionButton__tQS3b {
    width: 60px;
    height: 60px;
    background-color: #7E53F9;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-image: url("/images/nextArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: all .4s ease-in-out;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 .footerTop_bulletionButton__tQS3b:hover {
    background-color: #02044A;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA {
    display: flex;
    flex-flow: wrap;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT {
    width: 33.33%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT .footerTop_colonTitle__JSOlr {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT ul li {
    width: 100%;
    margin: 0 0 15px 0;
    overflow: hidden;
    padding: 0 0 5px 0;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT ul li a {
    color: #ffffff;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    line-height: normal;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT ul li a:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}

.footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT ul li a::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: -3px;
    left: auto;
    right: 0;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 1699px) {
    .footerTop_container__G_Bp3 {
        width: 1400px;
    }
}

@media screen and (max-width: 1499px) {
    .footerTop_container__G_Bp3 {
        width: 1170px;
    }
}

@media screen and (max-width: 1199px) {
    .footerTop_container__G_Bp3 {
        width: 100%;
        padding: 0 15px;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w {
        flex-direction: column;
        padding: 45px 0 45px;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .footerTop_top__MhpnB .footerTop_box__eOa1w {
        padding: 30px 0 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 {
        margin: 0 0 30px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerLogo__mYeG9 {
        margin: 0 0 20px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li .footerTop_footerTitle__oGSBq {
        margin: 0 0 5px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_footerContact__uEOon ul li .footerTop_footerDecs__ZOAS7 {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f {
        margin: 0 0 20px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_left__Rjzx5 .footerTop_socialMedia__HnR0f .footerTop_socialText__vtmVh {
        margin: 0 0 10px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC {
        margin: 0 0 30px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 .footerTop_inputText__F8L0U {
        height: 50px;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_formBulletion__lbcIC .footerTop_inputBox__Gdrg6 .footerTop_bulletionButton__tQS3b {
        height: 40px;
        width: 40px;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA {
        flex-direction: column;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT:last-child {
        margin: 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT .footerTop_colonTitle__JSOlr {
        margin: 0 0 15px 0;
    }

    .footerTop_top__MhpnB .footerTop_box__eOa1w .footerTop_right__5tv_t .footerTop_footerMenu__sW9aA .footerTop_colon__5JgbT ul li {
        margin: 0 0 10pxpx 0;
    }
}
